body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: blue;
}

h1{
	color: red;
}

form{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-top: 200px;
}