<fieldset>
	<legend>
	  Main Component
	</legend>
	<p>
		Suspendisse potenti. Ut sed mi a sem maximus commodo non porta sapien. Praesent a eros ornare lacus varius tristique. Maecenas dui massa, aliquam ut urna id, blandit elementum mauris. Fusce ac libero porttitor, luctus odio id, condimentum sem. Duis quis tortor rhoncus, tempus turpis quis, malesuada velit. Vivamus tempus ex nec scelerisque accumsan. Duis sollicitudin ante vitae dui convallis, sed suscipit odio suscipit. Nullam a mi non eros pharetra porta. Nunc id mauris gravida lectus pharetra pellentesque. Nulla tincidunt justo ut felis gravida blandit. Curabitur lacinia enim dui, interdum tempus lacus interdum sed. Duis eu justo a orci sodales auctor sit amet non sapien.
	</p>
	<p>
		Fusce a rhoncus tortor. Fusce quam felis, malesuada ut nisl et, tristique tincidunt lacus. Ut porttitor ipsum dapibus finibus dapibus. Aliquam lacinia vel tellus hendrerit viverra. Nullam suscipit sapien non orci interdum feugiat. Donec eget ante at nibh auctor feugiat. Praesent porta luctus dolor, sed convallis risus dignissim sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas nunc lacus, aliquet eget rhoncus at, pretium eu neque. Suspendisse mollis ante accumsan elit aliquet, ut porttitor purus luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a urna eget leo congue elementum tincidunt sed dolor. Morbi scelerisque enim nec nibh luctus euismod. Duis cursus nunc odio, at vehicula nisi rutrum vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
</fieldset>
