#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch{
    height: 100px;
    width: 100px;
    font-size: 50px;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.on{
    background-color: green;
}

.off{
    background-color: red;
}

#switchboard{
    display: flex;
    flex-direction: row;
}